@font-face {
  font-family: "SlimamifBold";
  src: local("SlimamifBold"), url(source/fonts/Slimamif.ttf);
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

.call {
  animation: myAnim 2s ease 0s infinite normal none;
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

body {
  font-family: SlimamifBold, serif;
  background: linear-gradient(90deg, lightblue 0%, pink 51%);
}

.navbar-brand img {
  width: 2rem;
  margin: auto;
}

.bg-header {
  background-color: pink;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0);
}

.right-bar {
  color: black;
  font-size: 12px;
  margin-top: 2em;
  background-color: lightblue;
  border-style: double;
  border-radius: 6px;
}

.slide-text {
  margin: auto auto;
}

